{% extends 'home/base.html' %}
{%block title%}{{title}}{%endblock%}
{%block content%}
<h1>{{title}}</h1>
{% if image_url %}
    <img src="{{image_url}}" alt="About Image"/>
{%endif%}
<div class="about-page">
    <h1>About Our Restaurant</h1>
    <p>Welcome To Our <strong> {{title}} </strong>,where passion for food meets</p>
    <h2>Our History</h2>
    <p> Founde in 1885, the stared as local and now an international brand</p>

    <h2>Our Mission</h2>
    <p>Our mission to provide quality serives</p>

</div>



{%endblock%}