{% extends 'home/base.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<form id="contactForm" method="post">
    {% csrf_token %}
    <input type="text" id="name" name="name" placeholder="Your Name">
    <span id="nameError" class="error"></span>

    <input type="email" id="email" name="email" placeholder="Your Email">
    <span id="emailError" class="error"></span>

    <textarea id="message" name="message" placeholder="Your Message"></textarea>
    <button type="submit">Send</button>


</form>
<script>
    document.getElementById("contactForm").addEventListener("sumbit",function(event){
        let isvalid=true;

        document.getElementById("nameError").innerText="";
        document.getElementById("emailError").innerText="";

        const name=document.getElementById("name").value.trim();
        if (name ===""){
            document.getElementById("nameError").innerText="Please Enter Your Name";
            isvalid=false;
        }
        const email=document.getElementById("email").value.trim();
        if (email ==""){
            document.getElementById("emailError").innerText="Please Enter Your Email";
            isvalid=false;
        }

        if (!isvalid){
            event.preventDefault();
        }


    
    });
</script>
{% endblock %}
