{%extends 'home/base.html' %}
{% load static %}
{% block title %}{{restaurant_name}}{% endblock %}



{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="welcome-container">
    <h1 class="welcome-container">
      Welcome To {{restaurant_name}}
      </h1>
    {% if restaurant_tagline %}
        <p>
        {{restaurant_tagline}}
        </p>
    {% endif %}
    {% if restaurant %}
        <p>Contact us: {{restaurant.phone_number}}</p>
    {% else %}
    <p>Contact info not available</p>
    {% endif %}
    <div  style="margin-top:2rem;text-align:center;">
        <a  href="{% url 'menu' %}" class="menu-btn"
        onmouseover="this.style.background='#e65a50'"
        onmouseout="this.style.background='#ff6f61'"
        >View Menu</a>
    </div>
</div>
{% endblock %}