<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" context="width=device-width,initial-scales=1.0">
        <title>{{restaurant_name}}</title>
        <style>
            body{
                font-family:Arial,sans-serif;
                text-align:center;
                padding-top:100px;
                background-color:#f8f9fa;

            }
            h1{
                font-size:3rem;
                color:#ff6f61;

            }
            p{
                font-size:1.2rem;
                color:#555;
            }

        </style> 
    </head>
    <body>
        <h1> welcome To {{ restaurant_name}}</h1>

        {% if restaurant_tagline %}
            <p>{{ restaurant_tagline }}</p>
        {% endif %}
    </body>
</html>