{% extends 'base.html' %}
{% block title %}Menu-{{restaurant_name}}{% endblock %}

{% block content %}
<div style="padding:2rem;">
    <h1 style="text-align:center;color:#ff6f61;">Our Menu</h1>
    <div style="
          display:grid;
          grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
          gap:1rem;
          margin-top:2rem;      
    ">
        {% for item in menu_items %}
        <div style="
            background:#fff;
            padding:1rem;
            border-radius: 8px;
            box-shadow:0 4px 10px rgba(0,0,0,0.1);
            transition:transform 0.2s ease,box-shadow 0.2s ease;
        "
        onmouseover="this.style.transform='scale(1.05)';this.style.box-shadow='0 6px 15px rgba(0,0,0,0.15)';"
        onmouseout="this.style.tranform='scale(1)':this.style.box-shadow='0 4px 10px rgba(0,0,0,0.1)';"
        >
            <h2 style="color:#333;">{{ item.name }}</h2>
            <p style="color:#666;">{{ item.description }}</p>
            <p style="font-weight:bold;color:#ff6f61;">Rs.{{ item.price }}</p>
            {% if item.image %}
                <img src="{{ item.image.url }}" alt="{{ item.name }}" width=200>
            {% endif %}
        </div>
        {%  empty %}
        <p style="text-align:center;color:#999;">No Menu items available at the moment</p>
        {% endfor %}
    </div>
    <div style="text-align:center;margin-top:1.5rem;">
        <a href="{% url 'restaurant:menu' %}" class="menu-btn">View Full Menu</a>
    </div>
    <div>
        <form method="get" class="menu_filters">
            <input type="text" name="q" placeholder="search dishes" value="{{ query|default:''}}">

            <select name="sort">
                <option value="name" {% if sort_by=="name" %}selected{% endif %}>sort by name</option>
                <option value="price" {% if sort_by=="price"%}selected{% end if %}>sort by price</option>
            </select>
            <button type="submit">Apply</button>
        </form>
    </div>
</div>


{% endblock %}